form {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

input {
  border: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #e8e8e8;
}

input:focus {
  outline: none;
}

.submit {
  border: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #948e8e;
  cursor: pointer;
  color: white;
}